:host {
	margin: 5px;
}

.history__dates-container {
	display: flex;
	align-items: center;
}

.date-container {
	display: flex;
    align-items: center;
	width: 14em;
}

.date-container > input {
	border-radius: 5px;
	border: 1px solid #7a7b7c; /* Параметры рамки */
	padding: 3px;
}

.btn {
	cursor: pointer;
	margin-top: -3px;
	margin-right: 0.4em;
	padding: 5px;
	border: 1px solid #7a7b7c; /* Параметры рамки */
	border-radius: 5px;
}

.btn__apply {
	background: blue;
	color: aliceblue;
}

.btn__reset {
	background: red;
	color: aliceblue;
}
